apiVersion: apps/v1
kind: Deployment
metadata:
  name: broken-app
spec:
  selector:
    matchLabels:
      app: broken-app
  template:
    metadata:
      labels:
        app: broken-app
    spec:
      containers:
        - name: main
          image: nginx:invalid-tag-that-does-not-exist
          ports:
            - containerPort: 80
